.Rproj.user
.Rhistory
.RData
.Ruserdata

R/sandbox\.R
Ochocki_correlated_traits/Ochocki_Saltz_Miller_AmNat_MS.synctex.gz
Ochocki_correlated_traits/Ochocki_Saltz_Miller_AmNat_MS.pdf
Ochocki_correlated_traits/Ochocki_Saltz_Miller_AmNat_MS.log
Ochocki_correlated_traits/Ochocki_Saltz_Miller_AmNat_MS.bbl
